# list comprehension 

syntax
[ item_var_manipulation for item in list]

conditional list comprehension 
[ item_var_manipulation for item in list if condition]

# normal list comprehension

In [1]:
names = ["Alice", "Bob", "Charlie", "Diana", "Eve", "Frank"]

In [2]:
capital_names=[name.upper() for name in names ]
capital_names

['ALICE', 'BOB', 'CHARLIE', 'DIANA', 'EVE', 'FRANK']

# 2 conditional list comprehenion

In [ ]:

# making them upper case as well only using the 
# words having lengh more than 4

long_capital_names=[name.upper() for name in names if len(name) > 4]
long_capital_names

['ALICE', 'CHARLIE', 'DIANA', 'FRANK']

# challenge 1

In [4]:
list=[1,1,3,4,5,8,23,58]

squared_list=[num*num for num in list]
squared_list

[1, 1, 9, 16, 25, 64, 529, 3364]

# challenge 2

In [5]:
numbers = [8, 3, 10, 1, 7, 4, 9, 2, 6, 5]

even_num=[num for num in numbers if num%2==0]
even_num

[8, 10, 4, 2, 6]

# challenge 3

In [ ]:

with open('text1.txt',mode='r') as file:
    a=file.readlines() 


with open('text2.txt',mode='r') as file:
    b=file.readlines() 


result=[int(num) for num in a if num in b]
result

[5, 7]